@charset "UTF-8";
/* 
Base/ (chứa các setting ban đầu)
Components/ ( chứa các bộ phận nhỏ dễ tái sử dụng như button, card, …)
Layout/ ( chứa footer, navbar,…)
Pages/ (chứa tên các page nếu project web của bạn có nhiều page khác nhau vd: home, login, …)
Abstracts/ (chứa animation, các function, mixin khi sử dụng sass sẽ được đề cập kĩ hơn khi chúng ta làm quen với sass)
Themes/ (các mẫu có sẵn)
Vendors/ (code CSS bên ngoài như bootstrap, …)
*/
/* --- Abstracts --- */
/*------Font-size------*/
/*------Color------*/
/*----------*/
/*---hard skills---*/
/* --- Base --- */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@keyframes shring-animation {
  0% {
    background-position: 0 0;
    opacity: 0;
    width: 0; }
  1% {
    background-position: 0 0;
    opacity: 1;
    border-right: 1.8px solid #E8B969; }
  50% {
    background-position: .01rem 0;
    opacity: 1;
    border-right: 1.8px solid #E8B969; }
  75% {
    background-position: .03rem 0;
    opacity: 1;
    border-right: 1.8px solid #E8B969; }
  100% {
    background-position: .1rem 0;
    opacity: 1;
    border-right: 1.8px solid #E8B969; } }

@keyframes type {
  0% {
    width: 0; }
  1%,
  99% {
    border-right: 1px solid #7e675e; }
  100% {
    border-right: none; } }

@keyframes blink {
  50% {
    border-color: transparent; } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/*-----------ABOUT ME--------------*/
@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: #cf8f74; }
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: transparent; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'Anek Telugu', sans-serif;
  line-height: 2.2rem;
  color: #423939; }
  @media (max-width: 991.98px) {
    html {
      font-size: 56%; } }
  @media (max-width: 767.98px) {
    html {
      font-size: 56%; } }
  @media (max-width: 575.98px) {
    html {
      font-size: 42%; } }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

.introduce__greeting {
  width: 100%; }
  .introduce__greeting h1:nth-child(1) {
    color: #6b7691;
    font-family: 'Aleo', serif;
    font-size: 2.5rem;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    width: 7.5rem;
    animation: type 0.8s steps(40, end) forwards;
    /*@include respond(ipad2) {
                text-align: center;
                width: auto;
                margin-top: .7vh;
            }*/ }
    @media (max-width: 575.98px) {
      .introduce__greeting h1:nth-child(1) {
        margin-top: -8rem; } }
  .introduce__greeting h1:nth-child(2) {
    opacity: 0;
    font-family: 'Aleo', serif;
    background: linear-gradient(to right, #cf8f74, #6b7691);
    font-size: 5rem;
    width: 41.1rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    white-space: nowrap;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    animation: shring-animation 2.2s steps(40, end) 0.8s forwards, blink 0.5s ease-in-out infinite alternate;
    line-height: 3rem;
    /*@include respond(ipad2) {
                text-align: center;
                width: auto;
            }*/ }
    @media (max-width: 575.98px) {
      .introduce__greeting h1:nth-child(2) {
        font-size: 4.5rem;
        width: 37.5rem; } }

.introduce__welcome {
  font-size: 1.9rem; }
  .introduce__welcome h2 {
    background: linear-gradient(to right, #cf8f74, #6b7691);
    font-family: 'Aleo', serif;
    font-size: 3.8rem;
    white-space: nowrap;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: .5rem;
    padding-bottom: 1rem; }
    @media (max-width: 575.98px) {
      .introduce__welcome h2 {
        font-size: 3rem; } }

/*-------ABOUT ME-------*/
.title {
  font-family: 'Aleo', serif;
  letter-spacing: .2rem;
  stroke: #6b7691;
  font-size: 5rem;
  font-weight: 700;
  stroke-width: 1;
  animation: textAnimate 5s infinite alternate; }

.story {
  text-align: center;
  font-size: 1.7rem;
  margin: -2.8rem 28rem;
  margin-bottom: -4.8rem; }

/*----------*/
h4 {
  line-height: 2.45rem;
  letter-spacing: .1rem; }

/* --- Component --- */
/*.introduce {
    @include respond(ipad2) {
        height: fit-content;
        text-align: center;
        @include absCenter;
        width: 90%;
    }
    
    &__row {
        @include clearfix;
        max-width: 130rem;
        margin: 0 auto;
        @include respond(desktop1) {
            padding-top: 5rem;
        }
        @include respond(desktop2) {
            padding-top: 16rem;
        }
        @include respond(desktop5) {
            padding-top: 8rem;
        }
        @include respond(ipad1) {
            max-width: 100rem;
        }
    }

    @include clearfix;
    &__row [class^="col-"] {
        float: left;
    }
    &__row [class^="col-"]:not(:last-child) {
        margin-right: $margin-right-introduce__row;
    }
    &__row .col-1-of-2 {
        width: calc((100% - 10rem)/ 2);
        float: left;
        margin-top: 20rem;
        @include respond(desktop1) {
            margin-top: 27rem;
        }
        @include respond(desktop2) {
            margin-top: 22rem;
        }
        @include respond(desktop3) {
            padding-left: 4.5rem;
        }
        @include respond(desktop2) {
            padding-left: 0;
        }
        @include respond(desktop5) {
            padding-left: 4.5rem;
        }
        @include respond(ipad1) {
            margin-top: 25rem;
            width: calc((110% - 10rem)/ 2);
        }
        @include respond(ipad2) {
            width: 100%;
            margin-top: -1vh;
        }
        @include respond(phone1) {
            width: 115%;
            margin-left: -7.8rem;
            margin-top: 20vh;
        }
        @include respond(phone2) {
            width: 104%;
            margin-left: -4.7rem;
            margin-top: 1rem;
        }
    }
    &__row .col-2-of-2 {
        width: calc((100% - 10rem)/ 2);
        margin-top: 18rem;
        @include respond(ipad1) {
            width: 30%;
            margin-left: -7rem;
        }
        @include respond(ipad2) {
            width: 100%;
            margin-top: 7rem;
            margin-left: 0rem;
        }
    }

img {
    margin-top: -15rem;
    width: 60rem;
    @include respond(desktop1) {
        width: 63rem;
        margin-top: -8rem;
    }
    @include respond(desktop2) {
        width: 64rem;
    }
    @include respond(desktop5) {
        width: 60rem;
        margin-left: -3rem;
    }
    @include respond(ipad1) {
        width: 48rem;
        margin-top: 3rem;
        margin-left: 1rem;
    }
    @include respond(ipad2) {
        margin: auto;
        width: 50rem;
        margin-top: -3.5rem;
    }
    @include respond(phone1) {
        width: 28rem;
    }
    @include respond(phone2) {
        width: 46rem;
        margin-top: -4rem;
    }
    /*
        @include respond(desktop3) {
            width: 35rem;
            margin-left: 8rem;
        }
        @include respond(desktop2) {
            width: 35rem;
            margin-left: 8rem;
        }
        @include respond(desktop1) {
            width: 38rem;
            margin-left: 10rem;
            margin-top: -2rem;
        }
        @include respond(ipad) {
            width: 33rem;
            margin-left: 13rem;
        }
}*/
.introduce {
  padding-top: 18rem;
  padding-left: 4rem; }
  @media (max-width: 1199.98px) {
    .introduce {
      padding-left: 10rem; } }
  @media (max-width: 991.98px) {
    .introduce {
      padding-top: 12rem;
      padding-left: 6rem; } }
  .introduce .col-6 {
    width: 50%; }
    @media (max-width: 767.98px) {
      .introduce .col-6 {
        width: 100%;
        padding: 0 10rem;
        margin-top: -10rem; } }
    @media (max-width: 575.98px) {
      .introduce .col-6 {
        width: 100%;
        padding: 0 10rem; } }
  .introduce img {
    width: 100%;
    margin-top: -15rem; }
    @media (max-width: 1199.98px) {
      .introduce img {
        padding-top: 5rem; } }
    @media (max-width: 991.98px) {
      .introduce img {
        padding-top: 6rem; } }
    @media (max-width: 767.98px) {
      .introduce img {
        margin-top: 14rem; } }
    @media (max-width: 575.98px) {
      .introduce img {
        margin-top: 3rem; } }

.introduce__welcome {
  animation: moveInBottom 2s ease-out 1s;
  animation-fill-mode: backwards; }
  .introduce__welcome--resume {
    position: absolute;
    padding: .9rem 1.2rem;
    padding-bottom: .1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 1.8rem;
    color: #423939;
    text-decoration: none; }
  .introduce__welcome--resume::after, .introduce__welcome--resume::before {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px; }
  .introduce__welcome--resume::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #6b7691;
    border-right-color: #6b7691; }
  .introduce__welcome--resume::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #cf8f74;
    border-left-color: #cf8f74; }
  .introduce__welcome--resume:hover:after, .introduce__welcome--resume:hover:before {
    border-bottom-color: #6b7691;
    border-right-color: #6b7691;
    border-top-color: #cf8f74;
    border-left-color: #cf8f74;
    width: 100%;
    height: 100%; }

.aboutme {
  height: 112vh;
  background-color: #fcfaf7;
  background-position: center;
  background-size: cover; }
  @media (max-width: 575.98px) {
    .aboutme {
      height: 140vh; } }

.bg-aboutme img {
  position: absolute;
  width: 40%;
  margin-top: 30rem;
  margin-left: -22rem; }
  @media (max-width: 575.98px) {
    .bg-aboutme img {
      width: 100%;
      margin-top: 40rem;
      margin-left: -20rem; } }

.interests {
  margin: 0 auto;
  width: 70rem;
  height: 20rem;
  margin-bottom: 50rem;
  line-height: 1.6rem; }
  .interests h1 {
    font-size: 1.7rem;
    padding-bottom: .5rem; }
    @media (max-width: 575.98px) {
      .interests h1 {
        font-size: 1.7rem; } }
  .interests__row {
    display: flex;
    justify-content: center;
    margin-top: 7.5rem;
    margin-bottom: -20rem; }
    @media (max-width: 575.98px) {
      .interests__row {
        display: inline; } }
    .interests__row--col {
      display: inline-block;
      position: relative;
      overflow: hidden;
      text-align: center;
      cursor: pointer; }
    .interests__row--col img {
      width: 34rem;
      height: 20rem;
      margin: 3rem 1.5rem 10rem 1.5rem; }
      @media (max-width: 575.98px) {
        .interests__row--col img {
          width: 40%;
          margin-left: -11rem; } }
    .interests__row--col figcaption {
      position: absolute;
      inset: 35% 19%;
      width: 22rem;
      opacity: 0;
      z-index: 1;
      transition: all 0.8s ease-out;
      transition-delay: 0.2s;
      font-size: 1.5rem; }
      @media (max-width: 575.98px) {
        .interests__row--col figcaption {
          opacity: 1;
          inset: 34% 29%;
          width: 21%;
          font-size: 1.3rem;
          line-height: 2rem; } }
    .interests__row--col:after {
      display: inline-block;
      position: absolute;
      content: "";
      inset: 6.5% 13.5%;
      width: 73%;
      height: 43%;
      background: white;
      opacity: 0;
      transition: all 0.8s ease-out;
      /*
            @include respond(phone1) {
                opacity: .9;
            }*/ }
      @media (max-width: 575.98px) {
        .interests__row--col:after {
          opacity: .9;
          inset: 9.5% 24.5%;
          width: 30%;
          height: 80%; } }
    .interests__row--col:hover:after {
      opacity: 0.9; }
    .interests__row--col:hover figcaption {
      transform: translateY(-50%);
      opacity: 1; }

.education {
  height: 100vh;
  background-color: #FCFAF7;
  /*
    background-size: cover;
    background-position: center;*/ }
  @media (max-width: 767.98px) {
    .education {
      height: 150vh; } }
  .education .bg-education img {
    position: absolute;
    width: 60%;
    margin-top: 1rem;
    margin-left: 95rem; }
    @media (max-width: 575.98px) {
      .education .bg-education img {
        width: 120%;
        margin-top: 30rem;
        margin-left: 27rem; } }
  .education__row {
    display: grid;
    width: auto;
    margin: 0 auto;
    grid-template-columns: 55% 45%;
    grid-column-gap: 2rem;
    padding: 3.5rem;
    text-align: center; }
    @media (max-width: 991.98px) {
      .education__row {
        margin-top: -2rem; } }
    @media (max-width: 767.98px) {
      .education__row {
        display: block;
        width: auto;
        margin-left: 2rem;
        margin-top: -8rem; } }
    @media (max-width: 575.98px) {
      .education__row {
        display: block;
        width: auto;
        margin-left: 2rem;
        margin-top: -10rem; } }
    .education__row--col1 {
      font-size: 1.7rem;
      margin-top: 5rem;
      text-align: left;
      vertical-align: middle; }
      .education__row--col1 p {
        margin: 1.4rem auto;
        margin-bottom: 2rem; }
      @media (max-width: 991.98px) {
        .education__row--col1 {
          width: 92%; } }
      @media (max-width: 767.98px) {
        .education__row--col1 {
          width: auto; } }
      @media (max-width: 575.98px) {
        .education__row--col1 {
          width: auto; } }
    .education__row h3 {
      letter-spacing: .1rem; }
    .education__row .composition {
      position: relative; }
      .education__row .composition__photo {
        width: 55%;
        border-radius: .5rem;
        outline-offset: 1rem;
        position: absolute;
        z-index: 10;
        transition: all .2s; }
        @media (max-width: 1199.98px) {
          .education__row .composition__photo {
            width: 50%; } }
        @media (max-width: 991.98px) {
          .education__row .composition__photo {
            width: 50%; } }
        @media (max-width: 767.98px) {
          .education__row .composition__photo {
            width: 40%; } }
        @media (max-width: 575.98px) {
          .education__row .composition__photo {
            width: 30%; } }
        .education__row .composition__photo--p1 {
          left: 7rem;
          top: 2rem; }
          @media (max-width: 1199.98px) {
            .education__row .composition__photo--p1 {
              left: 3rem;
              top: 3rem; } }
          @media (max-width: 991.98px) {
            .education__row .composition__photo--p1 {
              left: 0;
              top: 3rem; } }
          @media (max-width: 767.98px) {
            .education__row .composition__photo--p1 {
              left: 7rem;
              top: 13rem; } }
          @media (max-width: 575.98px) {
            .education__row .composition__photo--p1 {
              left: 10rem;
              top: 12rem; } }
        .education__row .composition__photo--p2 {
          left: 22rem;
          top: 5rem; }
          @media (max-width: 1199.98px) {
            .education__row .composition__photo--p2 {
              left: 24rem;
              top: 7rem; } }
          @media (max-width: 991.98px) {
            .education__row .composition__photo--p2 {
              left: 21rem;
              top: 7rem; } }
          @media (max-width: 767.98px) {
            .education__row .composition__photo--p2 {
              left: 42rem;
              top: 16rem; } }
          @media (max-width: 575.98px) {
            .education__row .composition__photo--p2 {
              left: 40rem;
              top: 15rem; } }
        .education__row .composition__photo--p3 {
          left: 15rem;
          top: 14rem; }
          @media (max-width: 1199.98px) {
            .education__row .composition__photo--p3 {
              left: 17rem;
              top: 17rem; } }
          @media (max-width: 991.98px) {
            .education__row .composition__photo--p3 {
              left: 10rem;
              top: 15rem; } }
          @media (max-width: 767.98px) {
            .education__row .composition__photo--p3 {
              left: 23rem;
              top: 28rem; } }
          @media (max-width: 575.98px) {
            .education__row .composition__photo--p3 {
              left: 25rem;
              top: 23rem; } }
        .education__row .composition__photo:hover {
          transform: scale(1.05);
          box-shadow: 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.5);
          z-index: 20; }
        .education__row .composition__photo:hover .education__row .composition__photo__photo:not(:hover) {
          transform: scale(0.9); }

.hardskills {
  height: 110vh;
  background-color: #FCFAF7;
  /* Effect 4 */
  /* Effect 4b */ }
  .hardskills .bg-hardskills img {
    position: absolute;
    width: 60%;
    margin-top: -20rem;
    margin-left: -38rem; }
    @media (max-width: 575.98px) {
      .hardskills .bg-hardskills img {
        width: 80%;
        margin-top: 8rem;
        margin-left: -18rem; } }
  .hardskills::after {
    content: "";
    display: table;
    clear: both; }
  .hardskills__row {
    display: flex;
    justify-content: center;
    padding: 0 20rem;
    margin-top: -1rem; }
    .hardskills__row:not(:last-child) {
      margin-bottom: 5rem; }
      @media (max-width: 575.98px) {
        .hardskills__row:not(:last-child) {
          margin-top: -2rem; } }
  .hardskills__row .col-1-of-3 {
    width: calc((100% - 2* 1rem) / 3);
    text-align: right; }
  .hardskills__row .col-2-of-3 {
    width: calc((100% - 2* 1rem) / 3);
    text-align: center; }
  .hardskills__row .col-3-of-3 {
    width: calc((100% - 2* 1rem) / 3);
    text-align: left; }
  .hardskills .hovicon {
    display: inline-block;
    font-size: 4.8rem;
    cursor: pointer;
    width: 30rem;
    border-radius: 50%;
    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 1; }
  .hardskills .hovicon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    /*@include respond(ipad1) {
            opacity: 0;
        }
        @include respond(ipad2) {
            opacity: 0;
        }
        @include respond(phone1) {
            opacity: 0;
        }
        @include respond(phone2) {
            opacity: 0;
        }*/ }
  .hardskills img {
    width: 60%;
    padding-top: 1.1rem; }
  .hardskills p {
    font-size: 1.5rem;
    transition: all .5s; }
    @media (max-width: 575.98px) {
      .hardskills p {
        margin-top: 0; } }
  .hardskills .hovicon.effect-4 {
    width: 10rem;
    height: 10rem;
    box-shadow: 0 0 0 2.5px #6b7691; }
    @media (max-width: 575.98px) {
      .hardskills .hovicon.effect-4 {
        width: 9.5rem;
        height: 9.5rem; } }
  .hardskills .hovicon.effect-4.sub-a {
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s; }
  .hardskills .hovicon.effect-4:after {
    top: -.18rem;
    left: -.18rem;
    padding: 0;
    z-index: 10;
    border: 1.5px dashed #6b7691; }
  .hardskills .hovicon.effect-4:hover {
    box-shadow: 0 0 0 0 #E8B969;
    color: #6b7691; }
  .hardskills .hovicon.effect-4.sub-b:hover {
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s; }
  .hardskills .hovicon.effect-4.sub-b:hover:after {
    -webkit-animation: spinAround 9s linear infinite;
    -moz-animation: spinAround 9s linear infinite;
    animation: spinAround 9s linear infinite; }

@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes spinAround {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }

@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
  .hardskills .scrum {
    width: 60%;
    padding: 4.5rem;
    padding-left: 12rem;
    margin: 0 auto;
    margin-top: 5.5rem;
    border-radius: 100rem;
    background: linear-gradient(to left, rgba(233, 208, 197, 0.8), rgba(207, 212, 224, 0.5));
    font-size: 2rem; }
    @media (max-width: 575.98px) {
      .hardskills .scrum {
        width: 84%;
        padding: 4rem;
        padding-left: 11rem;
        margin-top: 10rem; } }
    .hardskills .scrum__img {
      width: 11rem;
      height: 11rem;
      float: left;
      transform: translateX(-5rem);
      shape-outside: circle(50% at 25% 50%); }
    .hardskills .scrum img {
      width: 12rem;
      height: 12rem; }
      @media (max-width: 575.98px) {
        .hardskills .scrum img {
          width: 11rem;
          height: 11rem;
          margin-left: 1rem;
          margin-top: -1rem; } }
    .hardskills .scrum p {
      font-size: 1.6rem;
      margin-left: -4rem; }

.softskills {
  position: relative;
  background-color: rgba(253, 246, 232, 0.5);
  background-size: cover;
  background-position: center;
  font-size: 1.7rem; }
  .softskills__row {
    display: grid;
    width: 100rem;
    margin: 0 auto;
    grid-column-gap: 4rem;
    padding: 3.5rem;
    padding-left: 0;
    text-align: center; }
    .softskills__row img {
      width: 145%;
      border-radius: 5px; }
  .softskills__row1 {
    grid-template-columns: 40% 60%;
    position: relative;
    left: -5rem; }
  .softskills__row2 {
    grid-template-columns: 60% 40%; }
  .softskills--col2 {
    width: 120%;
    text-align: left; }
  .softskills__row2 .softskills--col2 {
    text-align: left;
    margin-bottom: 2rem; }
  .softskills__row2 img {
    margin-left: -7rem; }
  .softskills .col21,
  .softskills .col22,
  .softskills .col23,
  .softskills .col24,
  .softskills .col25,
  .softskills .col26 {
    margin: 2.5rem auto;
    background-image: linear-gradient(to left, #e9d0c5, #cfd4e0);
    padding: 3rem 2rem;
    position: relative;
    z-index: 5;
    border-radius: 10px; }

.experience {
  position: relative;
  background-color: #FCFAF7;
  background-size: cover;
  background-position: center;
  color: #423939;
  /*
    &__project6 {
        background: $color-linear-gradient6;
        margin-bottom: 0;
    }
    */ }
  .experience__project {
    display: grid;
    width: 100rem;
    margin: 0 auto;
    grid-template-columns: 45% 55%;
    grid-column-gap: 3rem;
    padding: 3.5rem;
    text-align: center;
    margin-bottom: 7rem; }
    .experience__project img {
      width: 100%; }
    .experience__project video {
      padding-bottom: 2.5rem; }
    .experience__project--text {
      text-align: left;
      font-size: 1.7rem;
      padding-right: 1rem; }
      .experience__project--text ul {
        margin: 1rem auto; }
        .experience__project--text ul li {
          list-style: none; }
    .experience__project .view {
      margin: 1.5rem auto;
      display: grid;
      grid-template-columns: 18rem 18rem; }
  .experience__project1 {
    background: #fdf0c3; }
  .experience__project2 {
    background: #d4edee; }
  .experience__project3 {
    background: #e7d5eb; }
  .experience__project4 {
    background: #ced6f1; }
  .experience__project5 {
    background-color: #dff1d5; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .8;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn-view {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  --btn-bg: linear-gradient(to right bottom, #e9d0c5, #cfd4e0);
  --bg: linear-gradient(to right bottom, #e9d0c5, #cfd4e0); }
  .btn-view a {
    text-decoration: none; }
  .btn-view button {
    --width: 15rem;
    --height: 4rem;
    border: 0;
    position: relative;
    min-width: var(--width);
    min-height: var(--height);
    font-family: "Montserrat";
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: .5px solid #ebdfda; }
    @media (max-width: 575.98px) {
      .btn-view button {
        --width: 13.5rem; } }
    .btn-view button .text,
    .btn-view button .icon-view {
      position: relative;
      z-index: 2;
      font-size: 1.5rem; }
    .btn-view button .icon-view {
      --icon-size: 2rem;
      position: relative;
      width: var(--icon-size);
      height: var(--icon-size);
      margin-left: .9rem;
      transition: transform 500ms ease; }
      .btn-view button .icon-view .icon {
        position: absolute;
        left: 0;
        top: 0;
        width: var(--icon-size);
        height: var(--icon-size);
        transition: transform 500ms ease, opacity 250ms ease; }
        .btn-view button .icon-view .icon--left {
          transform: translateX(-200%);
          opacity: 0; }
        .btn-view button .icon-view .icon svg {
          width: 100%;
          height: 100%; }
    .btn-view button::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: var(--btn-bg);
      z-index: 1;
      transition: transform 500ms ease; }
    .btn-view button:hover::after {
      transform: translateX(70%); }
    .btn-view button:hover .icon-view {
      transform: translateX(50%); }
      .btn-view button:hover .icon-view .icon--left {
        transform: translateX(0);
        opacity: 1; }
      .btn-view button:hover .icon-view .icon--right {
        transform: translateX(200%);
        opacity: 0; }

.contact .wrapper {
  display: inline-flex;
  list-style: none; }
  .contact .wrapper i {
    color: #000000;
    transition: all .2s; }
  .contact .wrapper i:hover {
    color: #f7e2e2; }

.contact .wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 1.5rem;
  padding-bottom: 1rem;
  margin: 1rem;
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.contact .wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 1.5rem;
  background: #ffffff;
  color: #ffffff;
  padding: .5rem 1rem;
  padding-bottom: .2rem;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.contact .wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  background: #ffffff;
  bottom: -.3rem;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.contact .wrapper .icon:hover .tooltip {
  top: -4.5rem;
  opacity: 1;
  visibility: visible;
  pointer-events: auto; }

.contact .wrapper .icon:hover span,
.contact .wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1); }

.contact .wrapper .facebook:hover,
.contact .wrapper .facebook:hover .tooltip,
.contact .wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff; }

.contact .wrapper .location:hover,
.contact .wrapper .location:hover .tooltip,
.contact .wrapper .location:hover .tooltip::before {
  background: #35A852;
  color: #ffffff; }

.contact .wrapper .instagram:hover,
.contact .wrapper .instagram:hover .tooltip,
.contact .wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff; }

.contact .wrapper .github:hover,
.contact .wrapper .github:hover .tooltip,
.contact .wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff; }

.contact .wrapper .youtube:hover,
.contact .wrapper .youtube:hover .tooltip,
.contact .wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff; }

.contact a {
  text-decoration: none; }

.contact .copyright {
  font-size: 1.2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: .08rem; }

/* --- Layout --- */
header {
  height: 100vh;
  background-color: blanchedalmond;
  background-size: cover;
  background-position: center;
  line-height: 2.8rem; }
  @media (max-width: 767.98px) {
    header {
      height: auto; } }
  @media (max-width: 575.98px) {
    header {
      height: auto; } }

footer {
  background: linear-gradient(to left, #e9b9a5, #b9becc);
  clip-path: ellipse(66% 75% at 50% 75%);
  text-align: center;
  padding-top: 4.5rem; }

/* --- Pages --- */
