 @mixin absCenter {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }
 
 @mixin clearfix {
     &::after {
         content: "";
         display: table;
         clear: both;
     }
 }
 
 @mixin respond($breakpoint) {
     // Large devices (desktops, less than 1200px)
     @if $breakpoint==desktop {
         @media (max-width: 1199.98px) {
             @content
         }
         ;
     }
     // Medium devices (tablets, less than 992px)
     @if $breakpoint==tablet {
         @media (max-width: 991.98px) {
             @content
         }
         ;
     }
     // Small devices (landscape phones, less than 768px)
     @if $breakpoint==phone {
         @media (max-width: 767.98px) {
             @content
         }
         ;
     }
     // Extra small devices (portrait phones, less than 576px)
     @if $breakpoint==phone2 {
         @media (max-width: 575.98px) {
             @content
         }
         ;
     }
     @if $breakpoint==phone3 {
         @media (max-width: 357px) {
             @content
         }
         ;
     }
 }