/*------Font-size------*/

$fontsize-heading1: 5rem;
$fontsize-heading2: 3.8rem;
$fontsize-content1: 2.5rem;
$fontsize-content2: 1.9rem;
$fontsize-content3: 1.7rem;
$fontsize-content4: 1.2rem;

/*------Color------*/

$color5: #3C403D;
$color6: #2d302e;
$color-bg-header: linear-gradient(to left bottom, rgba(218, 222, 212, .8), rgba(163, 188, 182, .5));
$color-linear-gradient3: linear-gradient(to right, #a1b9bc, #a1b9bc, #a5b4c0);
$color-linear-gradient4: linear-gradient(to right, #D7EDFA, #F3F3FC);
$color-linear-gradient5: linear-gradient(to right, #D9F4E0, #E9E1F9);
$color-linear-gradient6: linear-gradient(to left, #FAF4ED, #F6DFDA);
$bg-color: #FCFAF7;
$color-content: #423939;
$color1:#cf8f74;
$color2:#6b7691;
$color3:#E8B969;
$color4:#7e675e;
$color-linear-gradient: linear-gradient(to left, #e9b9a5, #b9becc);
$color-linear-gradient1: linear-gradient(to left, #e9d0c5, #cfd4e0);
$color-linear-gradient2: linear-gradient(to left, rgba(233, 208, 197, .8), rgba(207, 212, 224, .5));

/*----------*/

$margin-left-introduce__h1:4rem;
$grid-width: 130rem;
$margin-right-introduce__row: 10rem; // giá trị khoảng cách giữa các column

/*---hard skills---*/

$margin-right-hardskills__row: 1rem;
$margin-bottom-hardskills__row: 5rem;