    header {
        height: 100vh;
        background-color: blanchedalmond;
        background-size: cover;
        background-position: center;
        line-height: 2.8rem;
        @include respond(phone) {
            height: auto;
        }
        @include respond(phone2) {
            height: auto;
        }
    }