.introduce {
    &__greeting {
        width: 100%;
        h1:nth-child(1) {
            color: $color2;
            font-family: 'Aleo', serif;
            font-size: $fontsize-content1;
            margin-left: $margin-left-introduce__h1;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            width: 7.5rem;
            animation: type .8s steps(40, end) forwards;
            /*@include respond(ipad2) {
                text-align: center;
                width: auto;
                margin-top: .7vh;
            }*/
            @include respond(phone2) {
                margin-top: -8rem;
            }
        }
        h1:nth-child(2) {
            opacity: 0;
            font-family: 'Aleo', serif;
            margin-left: $margin-left-introduce__h1;
            background: linear-gradient(to right, $color1, $color2);
            font-size: $fontsize-heading1;
            width: 41.1rem;
            margin-bottom: 2rem;
            padding-top: 2rem;
            white-space: nowrap;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            overflow: hidden;
            animation: shring-animation 2.2s steps(40, end) .8s forwards, blink .5s ease-in-out infinite alternate;
            line-height: 3rem;
            /*@include respond(ipad2) {
                text-align: center;
                width: auto;
            }*/
            @include respond(phone2) {
                font-size: 4.5rem;
                width: 37.5rem;
            }
        }
    }
    &__welcome {
        margin-left: $margin-left-introduce__h1;
        font-size: $fontsize-content2;
        h2 {
            background: linear-gradient(to right, $color1, $color2);
            font-family: 'Aleo', serif;
            font-size: $fontsize-heading2;
            white-space: nowrap;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding-top: 1rem;
            padding-bottom: 3rem;
            @include respond(ipad1) {
                font-size: 3.1rem;
            }
            @include respond(ipad2) {
                font-size: 3.3rem;
            }
            @include respond(phone2) {
                font-size: 3rem;
            }
        }
    }
}


/*-------ABOUT ME-------*/

.title {
    font-family: 'Aleo', serif;
    letter-spacing: .2rem;
    stroke: $color2;
    font-size: 5rem;
    font-weight: 700;
    stroke-width: 1;
    animation: textAnimate 5s infinite alternate;
    @include respond(desktop3) {
        padding-top: 1.5rem;
    }
    @include respond(desktop1) {
        padding-top: 4rem;
    }
}

.story {
    text-align: center;
    font-size: $fontsize-content3;
    margin: -2.8rem 28rem;
    margin-bottom: -4.8rem;
    @include respond(desktop3) {
        margin: .5rem 26.5rem -2rem 26.5rem;
    }
    @include respond(desktop1) {
        margin: 1rem 26rem 0 26rem;
    }
    @include respond(desktop2) {
        margin: .5rem 23rem -1rem 23rem;
    }
    @include respond(desktop5) {
        margin: -.5rem 23rem;
    }
    @include respond(ipad1) {
        margin: -1rem 14rem;
    }
    @include respond(ipad2) {
        margin: -1rem 8rem;
    }
    @include respond(phone1) {
        margin: -4rem 5.5rem;
        margin-bottom: 3rem;
    }
}


/*----------*/

h4 {
    line-height: 2.45rem;
    letter-spacing: .1rem;
}