.education {
    height: 100vh;
    background-color: $bg-color;
    @include respond(phone) {
        height: 150vh;
    }
    /*
    background-size: cover;
    background-position: center;*/
    .bg-education img {
        position: absolute;
        width: 60%;
        margin-top: 1rem;
        margin-left: 95rem;
        @include respond(phone2) {
            width: 120%;
            margin-top: 30rem;
            margin-left: 27rem;
        }
    }
    // @include respond(desktop1) {
    //     height: 70vh;
    // }
    // @include respond(desktop2) {
    //     height: 70vh;
    // }
    // @include respond(desktop3) {
    //     height: 100vh;
    // }
    // @include respond(desktop5) {
    //     height: 80vh;
    // }
    &__row {
        display: grid;
        width: auto;
        margin: 0 auto;
        grid-template-columns: 55% 45%;
        grid-column-gap: 2rem;
        padding: 3.5rem;
        text-align: center;
        // @include respond(ipad2) {
        //     display: block;
        //     margin-left: 3.5rem;
        // }
        // @include respond(phone1) {
        //     display: block;
        //     margin-left: 2rem;
        //     margin-top: -10rem;
        //     width: 65rem;
        // }
        @include respond(tablet) {
            margin-top: -2rem;
        }
        @include respond(phone) {
            display: block;
            width: auto;
            margin-left: 2rem;
            margin-top: -8rem;
        }
        @include respond(phone2) {
            display: block;
            width: auto;
            margin-left: 2rem;
            margin-top: -10rem;
        }
        &--col1 {
            font-size: $fontsize-content3;
            margin-top: 5rem;
            text-align: left;
            vertical-align: middle;
            p {
                margin: 1.4rem auto;
                margin-bottom: 2rem;
            }
            @include respond(tablet) {
                width: 92%;
            }
            @include respond(phone) {
                width: auto;
            }
            @include respond(phone2) {
                width: auto;
            }
        }
        h3 {
            letter-spacing: .1rem;
        }
        .composition {
            position: relative;
            &__photo {
                width: 55%;
                border-radius: .5rem;
                outline-offset: 1rem;
                position: absolute;
                z-index: 10;
                transition: all .2s;
                @include respond(desktop) {
                    width: 50%;
                }
                @include respond(tablet) {
                    width: 50%;
                }
                @include respond(phone) {
                    width: 40%;
                }
                @include respond(phone2) {
                    width: 30%;
                }
                &--p1 {
                    left: 7rem;
                    top: 2rem;
                    @include respond(desktop) {
                        left: 3rem;
                        top: 3rem;
                    }
                    @include respond(tablet) {
                        left: 0;
                        top: 3rem;
                    }
                    @include respond(phone) {
                        left: 7rem;
                        top: 13rem;
                    }
                    @include respond(phone2) {
                        left: 10rem;
                        top: 12rem;
                    }
                }
                &--p2 {
                    left: 22rem;
                    top: 5rem;
                    @include respond(desktop) {
                        left: 24rem;
                        top: 7rem;
                    }
                    @include respond(tablet) {
                        left: 21rem;
                        top: 7rem;
                    }
                    @include respond(phone) {
                        left: 42rem;
                        top: 16rem;
                    }
                    @include respond(phone2) {
                        left: 40rem;
                        top: 15rem;
                    }
                }
                &--p3 {
                    left: 15rem;
                    top: 14rem;
                    @include respond(desktop) {
                        left: 17rem;
                        top: 17rem;
                    }
                    @include respond(tablet) {
                        left: 10rem;
                        top: 15rem;
                    }
                    @include respond(phone) {
                        left: 23rem;
                        top: 28rem;
                    }
                    @include respond(phone2) {
                        left: 25rem;
                        top: 23rem;
                    }
                }
                &:hover {
                    transform: scale(1.05);
                    box-shadow: .8rem .8rem 1.2rem rgba(black, .5);
                    z-index: 20;
                }
                &:hover &__photo:not(:hover) {
                    transform: scale(.9)
                }
            }
        }
    }
}